<a href="https://colab.research.google.com/github/mehmeh-ctrl/python-codewars/blob/master/Copy_of_headlines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [139]:
maplist=[]
with open('./headlines.txt', 'r') as headlines:
    for line in headlines:
        maplist.append(line.rstrip('\n'))

In [119]:
for headline in maplist:
    print(headline)

In [140]:
cols=["headline", "city", "country"]

In [141]:
import pandas as pd
headlines_df=pd.DataFrame(columns=cols)

In [142]:
!pip install geonamescache

In [143]:
import geonamescache

from geonamescache import GeonamesCache
gc = GeonamesCache()

In [144]:
cities = gc.get_cities()

In [145]:
countries = gc.get_countries()

In [146]:
cities_names=[]
cities_id=list(cities.keys())
for city_id in cities_id:
    cities_names.append(cities[city_id]['name'])

In [147]:
countries_names=[]
countries_id=list(countries.keys())
for country_id in countries_id:
    countries_names.append(countries[country_id]['name'])

In [148]:
!pip install unidecode
from unidecode import unidecode
accented_names = [city['name'] for city in gc.get_cities().values()
                  if city['name'] != unidecode(city['name'])]

In [149]:
cities_names_unidecoded=[unidecode(city) for city in cities_names]

In [150]:
countries_unidecoded=[unidecode(country) for country in countries_names]

In [152]:
countries_unidecoded_new=[]
for country in countries_unidecoded:
    if ',' in country:
        country=country.split(',')
        country_str = country[1] + country[0]
        new_country = ''.join(country_str)
        countries_unidecoded_new.append(new_country)
    else:
        countries_unidecoded_new.append(country)

In [153]:
import re

dict_city=dict()
dict_country=dict()
for city_name in cities_names_unidecoded:
    regexp_city_name = re.compile(r'\b'+city_name+r'\b')
    dict_city[city_name]= regexp_city_name
for country in countries_unidecoded_new:
    regexp_country_name=re.compile(r'\b'+country+r'\b')
    dict_country[country] =  regexp_country_name

In [154]:
import numpy as np
import pandas as pd
import sys
      # Redirects prints to a file
headlines_maplist=[]
cities_maplist = []
countries_maplist=[]
for headline in maplist:
  cities_maplist =[]
  if headline not in headlines_maplist:
    for city_name in cities_names_unidecoded:
      if city_name not in cities_maplist:
        if dict_city[city_name].search(headline):
          for country in countries_unidecoded_new:
            if headline not in headlines_maplist:
              if dict_country[country].search(headline):
                a_row = pd.Series([headline, city_name, country])
                headlines_maplist.append(headline)
                cities_maplist.append(city_name)
                row_df = pd.DataFrame([a_row])
                headlines_df = pd.concat([row_df, headlines_df], ignore_index=True)
for headline in maplist:
  cities_maplist =[]
  if headline not in headlines_maplist:
    for city_name in cities_names_unidecoded:
      if city_name not in cities_maplist:
        if headline not in headlines_maplist:
          if dict_city[city_name].search(headline):
            a_row = pd.Series([headline, city_name, np.nan])
            headlines_maplist.append(headline)
            cities_maplist.append(city_name)
            row_df = pd.DataFrame([a_row])
            headlines_df = pd.concat([row_df, headlines_df], ignore_index=True)
for headline in maplist:
  if headline not in headlines_maplist:
    for country in countries_unidecoded_new:
      if headline not in headlines_maplist:
        if dict_country[country].search(headline):
          a_row = pd.Series([headline, np.nan, country])
          headlines_maplist.append(headline)
          row_df = pd.DataFrame([a_row])
          headlines_df = pd.concat([row_df, headlines_df], ignore_index=True)
cities_maplist =[]
print(headlines_df)

In [155]:
headlines_df.head()

                                                   0  ... headline
0                     Zika Outbreak in Wichita Falls  ...      NaN
1         More Zika patients reported in Bella Vista  ...      NaN
2  Suva authorities confirmed the spread of Rotav...  ...      NaN
3              More Zika patients reported in Indang  ...      NaN
4  Rumors about Rabies spreading in Jerusalem hav...  ...      NaN

[5 rows x 6 columns]

In [156]:
headlines_df

                                                     0  ... headline
0                       Zika Outbreak in Wichita Falls  ...      NaN
1           More Zika patients reported in Bella Vista  ...      NaN
2    Suva authorities confirmed the spread of Rotav...  ...      NaN
3                More Zika patients reported in Indang  ...      NaN
4    Rumors about Rabies spreading in Jerusalem hav...  ...      NaN
..                                                 ...  ...      ...
601                   Zika surfaces in Klang, Malaysia  ...      NaN
602                Zika outbreak in Piracicaba, Brazil  ...      NaN
603                     Thailand-Zika Virus in Bangkok  ...      NaN
604     Zika cases in Vietnam's Ho Chi Minh City surge  ...      NaN
605            Mystery Virus Spreads in Recife, Brazil  ...      NaN

[606 rows x 6 columns]

In [157]:
headlines_dropped_columns=headlines_df.drop(columns=cols)

In [158]:
headlines_dropped_columns

                                                     0            1         2
0                       Zika Outbreak in Wichita Falls      Wichita       NaN
1           More Zika patients reported in Bella Vista  Bella Vista       NaN
2    Suva authorities confirmed the spread of Rotav...         Suva       NaN
3                More Zika patients reported in Indang       Indang       NaN
4    Rumors about Rabies spreading in Jerusalem hav...    Jerusalem       NaN
..                                                 ...          ...       ...
601                   Zika surfaces in Klang, Malaysia        Klang  Malaysia
602                Zika outbreak in Piracicaba, Brazil   Piracicaba    Brazil
603                     Thailand-Zika Virus in Bangkok      Bangkok  Thailand
604     Zika cases in Vietnam's Ho Chi Minh City surge           Ho   Vietnam
605            Mystery Virus Spreads in Recife, Brazil       Recife    Brazil

[606 rows x 3 columns]

In [159]:
columns = headlines_dropped_columns.columns.to_list()

In [166]:
columns[0]="headline"

In [167]:
columns[1]="city"

In [168]:
columns[2]="country"

In [169]:
headlines_dropped_columns.columns=columns

In [170]:
headlines_dropped_columns.head()

                                            headline         city country
0                     Zika Outbreak in Wichita Falls      Wichita     NaN
1         More Zika patients reported in Bella Vista  Bella Vista     NaN
2  Suva authorities confirmed the spread of Rotav...         Suva     NaN
3              More Zika patients reported in Indang       Indang     NaN
4  Rumors about Rabies spreading in Jerusalem hav...    Jerusalem     NaN

In [171]:
headlines_df = headlines_dropped_columns

In [172]:
headlines_df

                                              headline         city   country
0                       Zika Outbreak in Wichita Falls      Wichita       NaN
1           More Zika patients reported in Bella Vista  Bella Vista       NaN
2    Suva authorities confirmed the spread of Rotav...         Suva       NaN
3                More Zika patients reported in Indang       Indang       NaN
4    Rumors about Rabies spreading in Jerusalem hav...    Jerusalem       NaN
..                                                 ...          ...       ...
601                   Zika surfaces in Klang, Malaysia        Klang  Malaysia
602                Zika outbreak in Piracicaba, Brazil   Piracicaba    Brazil
603                     Thailand-Zika Virus in Bangkok      Bangkok  Thailand
604     Zika cases in Vietnam's Ho Chi Minh City surge           Ho   Vietnam
605            Mystery Virus Spreads in Recife, Brazil       Recife    Brazil

[606 rows x 3 columns]